[Unit]
Description=FourChan Monitor
# Docker NATS container should be run with `--restart always` option
# You can update your existing container with `docker update --restart always nats`
After=network.target docker.service
StartLimitIntervalSec=10
StartLimitBurst=5

[Service]
Type=simple
Restart=always
RestartSec=5
User=chris
WorkingDirectory=/home/chris/fourchan-nest
ExecStart=/usr/bin/env npm run start:prod

[Install]
WantedBy=multi-user.target
